# 忽略操作系统生成的文件
# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# VS Code 设置文件
.vscode/

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# MkDocs 构建输出
site/

# MkDocs 配置文件备份
mkdocs.yml.bak

# 忽略日志文件和数据库
*.log
*.sql
*.sqlite

# 忽略挂载目录
mnt/
media/


.cache/